.sidebar-content {
  height: 100vh;
  width: 80vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 2px 0 11px 0px #888;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.sidebar-enter,
.sidebar-exit {
  transform: translate(-80vw);
  opacity: 0;
}

.selected {
  font-size: 3rem;
}

.overlay-sidebar {
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  cursor: pointer;
}

ul {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 1.2em;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
