h1 {
  opacity: 0;
  margin: 0.2em 0;
  padding: 0;
  font-size: 3.5rem;
  line-height: 0.9em;
}

p {
  opacity: 0;
  margin: 0;
  line-height: 1.4em;
}

.intro-links a {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.Home {
  /* max-width: 90%; */
  height: 100vh;
  display: flex;
  padding-top: 30vh;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  /* font-family: "Roboto"; */
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.intro-name {
  animation: fadein 2s ease-in forwards;
}

.intro-main {
  animation: fadein 2s ease-in 0.5s forwards;
}

.intro-details {
  animation: fadein 1.5s ease-in 1s forwards;
}

.intro-links {
  opacity: 0;
  margin: 1.5em auto;
  animation: fadein 1.5s ease-in 1.5s forwards;
}

.intro-links-divider {
  margin: 0 0.7em;
  color: #bcbcbc;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}
