.NavBar {
  /* position: relative; */
  /* z-index: 100; */
  height: 100vh;
  width: 80vw;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px; /1* Place content 60px from the top *1/ */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 10px 0 11px 0px #888;
}

.my-node-enter, .my-node-exit {
  transform: translate(-80vw);
  opacity: 0;
}

ul {
  display: flex;
  flex-flow: column;
}

li {
  list-style-type: none;
  /* margin: 2em 5em; */
}

a {
  text-decoration: none;
}
